@tailwind base;
@tailwind components;
@tailwind utilities;

.tw-followCard-button {
  cursor: pointer;
  border: 0;
  padding: 6px 0px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
  width: 90%;
  margin: 0 auto;
}

.tw-followCard-button:hover {
  opacity: .8;
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
}

.tw-followCard-button.is-following:hover {
  background-color: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: .3s ease all;
  opacity: 1;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}